<div id="sidr">
    <ul>
        <li class="politicaLine hidden-sm">
            <a href="{{ .Site.BaseURL }}/politica">Política</a>
        </li>
        <li class="regionalLine">
            <a href="{{ .Site.BaseURL }}/regional">Regional</a>
        </li>
        <li class="infogenLine hidden-sm hidden-md">
            <a href="{{ .Site.BaseURL }}/infogeneral">InfoGeneral</a>
        </li>
        <li class="nacionalLine">
            <a href="{{ .Site.BaseURL }}/nacional">Nacional</a>
        </li>
        <li class="internacionalLine">
            <a href="{{ .Site.BaseURL }}/internacional">Internacional</a>
        </li>
        <li class="opinionLine hidden-sm">
            <a href="{{ .Site.BaseURL }}/opinion">Opinión</a>
        </li>
        <li class="deportesLine">
            <a href="http://www.lanaciondeportes.com/">Deportes</a>
        </li>
        <li class="sucesosLine">
            <a href="{{ .Site.BaseURL }}/sucesos">Sucesos</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}/agenda">Agenda</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}/buzon-libre">Buzón Libre</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}/cosas-del-mundo">Cosas del Mundo</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}/cultura">Cultura</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}/farandula-y-espectaculos">Farándula y Espectáculos</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}/flash">Flash</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}/noche-de-ronda">Noche de Ronda</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}/reportajes-y-especiales">Reportajes y Especiales</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}/salud">Salud</a>
        </li>
        <li>
            <a href="{{ .Site.BaseURL }}/tecnologia">Tecnología</a>
        </li>
    </ul>
</div>
<script>
$(document).ready(function() {
    $('#simple-menu').sidr();
    $(window).touchwipe({
        wipeLeft: function() {
            // Close
            $.sidr('close', 'sidr-main');
        },
        wipeRight: function() {
            // Open
            $.sidr('open', 'sidr-main');
        },
        preventDefaultEvents: false
    });
});
</script>
