<div class="hidden-sm hidden-md hidden-lg">
    <strong style="font-size:25px;">Noticias Destacadas
</strong> {{ range $.Site.Data.featured }}
    <div class="col-sm-6 col-md-6" style="padding-bottom: 10px;">
          <div class="media-body">
            <span class="mobileCat hidden-sm hidden-md hidden-lg {{.css}}">
                                        <b>{{.category}}</b>
                                    </span>
            <h4 style="font-size:14px" class="media-heading"><a style="text-decoration: none; color:black;" href="{{ .slug }}">{{.title }}</a></h4>
            <div class="row">
                <div class="col-xs-6 hidden-sm hidden-md hidden-lg">
                    <time datetime="{{ .date }}" style="font-size:10px">{{ .mobiledate }}</time>
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</div>
<hr>
