<div class="row hidden-xs">
    <div class="col-md-12 col-md-offset-2 adsLargeMain">
        <img class="img-responsive" src="{{ .Site.BaseURL }}/images/adsbanner.gif">
    </div>
</div>
<div class="row hidden-xs">
    <div class="col-md-8 col-sm-12">
        <div class="col-md-12 col-sm-12">
        {{ range first 1 $.Site.Data.featured }}
            <slider>
                <div class="slide">
                    <a id="mainFeaturedUrl" href="{{.slug}}"><img class="img-responsive bigTitleImg" src="/fotoedicion/thumb_{{.featured}}" alt=""></a>
                    <span class="category {{.css}}">{{.category}}</span>
                    <span style="display:none;" class="newTitle"><a href=""><h3 class="bigTitleSli">{{.title}}</h3></a>
                        </span>
                </div>
            </slider>
        {{end}}
        </div>
    </div>
    <div class="col-md-4 hidden-xs hidden-sm">
        <div class="side-title azul">+ Leídas</div>
        <top>
            <div class="media" style="color:#336799; margin-top:20px">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/images/load.gif" style="width: 74px; height: 64px;">
                    </a>
                </div>
                <div class="media-body">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-8 readsCount">+</div>
                    </div>
                    <a href="" style="text-decoration:none;">
                        <p style='color:#333;font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300;'>
                            <div class="lineload">
                                <h2><span  class="line-center"></span></h2>
                                <h2><span  class="line-center"></span></h2>
                            </div>
                        </p>
                    </a>
                </div>
            </div>
            <div class="media" style="color:#336799; margin-top:20px">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/images/load.gif" style="width: 74px; height: 64px;">
                    </a>
                </div>
                <div class="media-body">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-8 readsCount">+</div>
                    </div>
                    <a href="" style="text-decoration:none;">
                        <p style='color:#333;font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300;'>
                            <div class="lineload">
                                <h2><span  class="line-center"></span></h2>
                                <h2><span  class="line-center"></span></h2>
                            </div>
                        </p>
                    </a>
                </div>
            </div>
            <div class="media" style="color:#336799; margin-top:20px">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/images/load.gif" style="width: 74px; height: 64px;">
                    </a>
                </div>
                <div class="media-body">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-8 readsCount">+</div>
                    </div>
                    <a href="" style="text-decoration:none;">
                        <p style='color:#333;font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300;'>
                            <div class="lineload">
                                <h2><span  class="line-center"></span></h2>
                                <h2><span  class="line-center"></span></h2>
                            </div>
                        </p>
                    </a>
                </div>
            </div>
            <div class="media" style="color:#336799; margin-top:20px">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/images/load.gif" style="width: 74px; height: 64px;">
                    </a>
                </div>
                <div class="media-body">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-8 readsCount">+</div>
                    </div>
                    <a href="" style="text-decoration:none;">
                        <p style='color:#333;font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300;'>
                            <div class="lineload">
                                <h2><span  class="line-center"></span></h2>
                                <h2><span  class="line-center"></span></h2>
                            </div>
                        </p>
                    </a>
                </div>
            </div>
        </top>
    </div>
</div>
