/* bootstrap 3 helpers */

@font-face {
    font-family: Open Sans;
    font-weight: 400;
    src: url(../fonts/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: Gentium Basic;
    font-weight: 400;
    src: url(../fonts/Quattrocento-Regular.ttf);
}

.titles {
    font-family: 'Open Sans', sans-serif;
}

.navbar-form input,
.form-inline input {
    width: auto;
}

header {
    height: 75px;
    padding-top: 10px;
}

#nav.affix > div > div > div.navbar-header > a > img {
    display: block;
}

#nav > div > div > div.navbar-header > a > img {
    display: none;
}


/* nav line*/

@media (min-width: 767px) {
    .homeLine {
        border-top: 2px solid #fff;
    }
    .politicaLine {
        border-top: 2px solid #333;
    }
    .regionalLine {
        border-top: 2px solid #8aa824;
    }
    .infogenLine {
        border-top: 2px solid #65019a;
    }
    .nacionalLine {
        border-top: 2px solid #b16f0a;
    }
    .internacionalLine {
        border-top: 2px solid #029aca;
    }
    .opinionLine {
        border-top: 2px solid #999;
    }
    .deportesLine {
        border-top: 2px solid #d7ac00;
    }
    .sucesosLine {
        border-top: 2px solid #6f0000;
    }
    .masLine {
        border-top: 2px solid #000;
    }
    /* nav hover*/
}

.navbar-default .navbar-nav > li > a {
    color: #fff !important;
}

.navbar-default .navbar-nav > li.homeLine > a:hover,
.navbar-default .navbar-nav > li.homeLine > a:focus {
    color: #000 !important;
    background-color: #fff;
}

.navbar-default .navbar-nav > li.politicaLine > a:hover,
.navbar-default .navbar-nav > li.politicaLine > a:focus {
    color: #fff;
    background-color: #333;
}

.navbar-default .navbar-nav > li.regionalLine > a:hover,
.navbar-default .navbar-nav > li.regionalLine > a:focus {
    color: #fff;
    background-color: #8aa824;
}

.navbar-default .navbar-nav > li.infogenLine > a:hover,
.navbar-default .navbar-nav > li.infogenLine > a:focus {
    color: #fff;
    background-color: #65019a;
}

.navbar-default .navbar-nav > li.nacionalLine > a:hover,
.navbar-default .navbar-nav > li.nacionalLine > a:focus {
    color: #fff;
    background-color: #b16f0a;
}

.navbar-default .navbar-nav > li.internacionalLine > a:hover,
.navbar-default .navbar-nav > li.internacionalLine > a:focus {
    color: #fff;
    background-color: #029aca;
}

.navbar-default .navbar-nav > li.opinionLine > a:hover,
.navbar-default .navbar-nav > li.opinionLine > a:focus {
    color: #fff;
    background-color: #999;
}

.navbar-default .navbar-nav > li.deportesLine > a:hover,
.navbar-default .navbar-nav > li.deportesLine > a:focus {
    color: #fff;
    background-color: #d7ac00;
}

.navbar-default .navbar-nav > li.sucesosLine > a:hover,
.navbar-default .navbar-nav > li.sucesosLine > a:focus {
    color: #fff;
    background-color: #6f0000;
}

.navbar-default .navbar-nav > li.masLine > a:hover,
.navbar-default .navbar-nav > li.masLine > a:focus {
    color: #fff;
    background-color: #000;
}

.navbar {
    font-size: 13px;
    font-weight: 400;
    border: none;
}


/* end of color helpers */

.headerhr {
    display: block;
    height: 1px;
    padding: 0;
    border: 0;
    border-top: 1px solid #094580;
}

#nav.affix {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
}

.oculto {
    display: none;
}

#sidebar.affix-top {
    position: static;
}

#sidebar.affix {
    position: fixed;
    top: 80px;
}


/* menu */

@media (min-width: 1200px) {
    .container {
        width: 1000px;
    }
}

@media (max-width: 767px) {
    .navbar-brand {
        position: relative;
        left: 50%;
        margin: 0 auto;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    #nav.affix > div > div > div.navbar-header > a > img {
        display: block;
        height: 28px;
    }
    #nav > div > div > div.navbar-header > a > img {
        display: block;
        height: 28px;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #336799;
    }
    .navbar-default .navbar-toggle {
        border-color: #fff;
        background-color: #fff;
    }
    .navbar-toggle {
        position: relative;
        float: right;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        padding: 9px 10px;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: transparent;
        background-image: none;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #336799;
    }
}

.azul {
    background-color: #336799;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: #000000;
}

.dropdown-menu {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}


/* Search 18- */

.search-form .form-group {
    float: right !important;
    width: 32px;
    height: 32px;
    transition: all .35s, border-radius 0s;
    border-radius: 25px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset;
}

#search {
    cursor: pointer;
}

.search-form .form-group input.form-control {
    display: block;
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
}

.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}

.search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
}

.search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
}

.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}

.search-form .form-group:hover,
.search-form .form-group.hover {
    /*  width: 100%; */
    border-radius: 25px 25px 25px 25px;
}

.search-form .form-group span.form-control-feedback {
    font-size: 14px;
    line-height: 34px;
    position: absolute;
    z-index: 2;
    top: -1px;
    right: -2px;
    left: initial;
    display: block;
    text-align: center;
    color: #3596e0;
}


/* slider */

.slide {
    position: relative;
}

.news-slider .article {
    position: static !important;
}

.bx-wrapper {
    -moz-box-shadow: 0 0 5px #ffffff !important;
    -webkit-box-shadow: 0 0 5px #ffffff !important;
    box-shadow: 0 0 5px #ffffff !important;
}

.category {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.newTitle {
    position: absolute;
    bottom: 0;
    float: left;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    color: #fff;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .8) 100%);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.newTitle:hover {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .9) 100%);
}

.newTitle > h3 {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

body > div.container > div > div.col-md-7 > div > div > img {
    display: block;
    width: 100%;
    height: auto;
}

.topnews {
    max-height: 250px;
}

body > div.container > div > div.col-md-5.hidden-xs.hidden-sm > div:nth-child(2) > div > img {
    margin-top: 10px;
}

body > div.container > div > div.col-md-5.hidden-xs.hidden-sm {
    padding-left: 0;
}

body > div.container > div:nth-child(2) > div.col-md-8.col-sm-12 {
    padding-right: 0;
}

body > div.container > div > div.col-md-7.col-sm-12 {
    padding-right: 0;
}

.categorysmall {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 15px;
    margin-left: 15px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

body > div.container > div > div.col-md-5.hidden-xs.hidden-sm > div:nth-child(2) > div > span {
    margin-top: 24px;
}

body > div.container > div:nth-child(2) > div.col-md-4.hidden-xs.hidden-sm > div:nth-child(2) > div > span.newTitleSmall {
    margin-bottom: 0;
}

.newTitleSmall {
    position: absolute;
    bottom: 0;
    float: left;
    width: 91%;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    color: #fff;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .8) 100%);
}

.newTitleSmall h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.adsLarge {
    /*padding: 20px;*/
    padding-bottom: 20px;
}

.adsLargeMain {
    padding-top: 0;
    padding-bottom: 20px;
}

body > div.container > div:nth-child(2) > div.col-md-4.hidden-xs.hidden-sm > div:nth-child(1) > div {
    padding-bottom: 20px;
}

#news-slider > article > div > img {
    height: 425px;
}

.bigTitleImg:hover {
    opacity: 0.8;
}

.topnews:hover {
    opacity: 0.8;
}

.media:hover {
    opacity: 0.8;
    cursor: pointer;
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    #news-slider > article > div > img {
        height: 500px;
    }
}

@media(max-width:767px) {
    /* News */
    .home {
        color: #fff;
    }
    .infogeneral {
        color: #813250;
    }
    .politica {
        color: #333;
    }
    .salud {
        color: #2C85EA;
    }
    .tecnologia {
        color: #FF9B00;
    }
    .regional {
        color: #8aa824;
    }
    .cultura {
        color: #800824;
    }
    .infogen {
        color: #fff;
        color: #65019a;
    }
    .nacional {
        color: #b16f0a;
    }
    .internacional {
        color: #029aca;
    }
    .opinion {
        color: #999;
    }
    .deportes {
        color: #d7ac00;
    }
    .sucesos {
        color: #6f0000;
    }
    .mas {
        color: #000;
    }
    .reportajesyespeciales {
        color: #a308ba;
    }
    .cosasdelmundo {
        color: #4f9a71;
    }
    .farandulayespectaculos {
        color: #E822A2;
    }
    .post {
        overflow: hidden;
        background-color: #fff;
        height: 100%;
        border-bottom: 1px solid #CECBCB;
    }
    .mobileCat {
        padding: 3px;
        text-transform: uppercase;
        font-size: 10px;
    }
    .post .postHead > h3 {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 5px;
        color: #000;
        font-size: 14px;
    }
    .post .postHead > h3 > a {
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        color: #333;
        text-decoration: none;
    }
    .post .postHead > h3 > a:hover {
        color: #069;
    }
}

@media(min-width:768px) {
    /* News */
    .home {
        color: #000 !important;
        background-color: #fff;
    }
    .infogeneral {
        color: #fff !important;
        background-color: #813250;
    }
    .politica {
        color: #fff;
        background-color: #333;
    }
    .salud {
        color: #fff !important;
        background-color: #2C85EA;
    }
    .tecnologia {
        color: #fff;
        background-color: #FF9B00;
    }
    .regional {
        color: #fff;
        background-color: #8aa824;
    }
    .cultura {
        color: #fff;
        background-color: #800824;
    }
    .infogen {
        color: #fff;
        background-color: #65019a;
    }
    .nacional {
        color: #fff;
        background-color: #b16f0a;
        padding: 2px;
    }
    .internacional {
        color: #fff;
        background-color: #029aca;
    }
    .opinion {
        color: #fff;
        background-color: #999;
    }
    .deportes {
        color: #fff;
        background-color: #d7ac00;
    }
    .sucesos {
        color: #fff;
        background-color: #6f0000;
    }
    .mas {
        color: #fff;
        background-color: #000;
    }
    .reportajesyespeciales {
        color: #fff;
        background-color: #a308ba;
    }
    .cosasdelmundo {
        color: #fff;
        background-color: #4f9a71;
    }
    .farandulayespectaculos {
        color: #fff;
        background-color: #E822A2;
    }
    .post {
        overflow: hidden;
        background-color: #fff;
        height: 400px;
    }
    .post .postHead > h3 {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 5px;
        color: #000;
        font-size: 14px;
    }
    .post .postHead > h3 > a {
        font-size: 22px;
        margin-top: 5px;
        margin-bottom: 5px;
        color: #333;
        text-decoration: none;
    }
    .post .postHead > h3 > a:hover {
        color: #069;
    }
}


/* POSTS */

.post .content {
    padding: 0px;
    padding-bottom: 15px;
}

.post .postHead {
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 11px;
    padding-top: 10px;
    color: #737373;
}

.post .postHead > p {
    /* font-family: 'Open Sans', sans-serif;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 13px;
    margin-top: 10px;
    padding: 0;
    color: #6a6a6a;
    text-rendering: optimizeLegibility;
}

.post .img-responsive {
    display: block;
    max-width: 310px;
    height: auto;
}

.post .post-img-content {
    position: relative;
    height: 196px;
    margin-left: auto;
    margin-right: auto;
}

.post .post-img-content img {
    position: absolute;
}

.post .post-img-content img:hover {
    opacity: 0.8;
}

.post .post-category {
    position: relative;
    z-index: 2;
    top: 12px;
    left: 12px;
    display: table-cell;
    vertical-align: bottom;
    text-transform: uppercase;
}

.socialshareMain {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px
}

.socialshareMain > a {
    color: #000;
    text-decoration: none;
}

.socialshareMain .fa-twitter:hover {
    color: #55acee;
}

.socialshareMain .fa-facebook:hover {
    color: #3b5998;
}

.socialshareMain .fa-google-plus:hover {
    color: #dd4b39;
}

.socialshareMain .fa-whatsapp:hover {
    color: #4dc247;
}

.socialshareMain .fa-envelope:hover {
    color: #400191;
}

.socialshareMain .fa-instagram:hover {
    color: #6095c4;
}

.socialshareMain .fa-rss:hover {
    color: orange;
}

.post .post-category b {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 5px;
    margin-bottom: 0;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    color: #fff;
}

.sidebar {
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 0;
    /*box-shadow: inset -4px -5px 5px -3px rgba(50, 50, 50, .2);*/
}

.postLine {
    box-shadow: 10px 0 10px -7px rgba(50, 50, 50, .1);
}

.postLine hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.post-referal a {
    color: #333;
}

.post-referal a:hover {
    color: #337ab7;
    ;
    cursor: pointer;
    text-decoration: none;
}

.post-referal h5 {
    font-size: 16px;
}

.referal {
    margin-bottom: 40px;
}

.referal:hover > a {
    color: #337ab7;
    cursor: pointer;
    opacity: 0.8;
}

.referal:hover > img {
    cursor: pointer;
    opacity: 0.8;
}

.topshadow {
    padding-top: 20px;
    box-shadow: inset 0 5px 5px -5px rgba(50, 50, 50, .1);
}

.lastadv {
    z-index: -1;
}

.adsside {
    padding-top: 5px;
    padding-bottom: 15px;
}

.adslot {
    padding-top: 15px;
}

.side-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    color: #fff;
}

.twitter {
    margin-bottom: 10px;
}

#tweets {
    height: 220px;
}

#tweecool > ul > li {
    list-style-type: none;
}

#tweets > div > div > ul > li {
    width: 300px !important;
}

#tweets > div > div > ul {
    padding-top: 20px;
    padding-left: 20px;
}

#tweets > div > div > ul > li > div {
    font-family: 'Open Sans', sans-serif;
}

#tweets > div > div > ul > li > p.tweet {
    font-size: 16px;
}

#tweets > div > div {
    height: 190px !important;
}

#follow {
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 140px;
}

.fbbox {
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

#facebook {
    height: auto;
    min-height: 250px;
    margin-bottom: 10px;
}

.portadaln {
    padding: 20px;
}

#mainnav {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

#nav {
    z-index: 1000;
}

.plateinfo {
    padding-top: 20px;
}

footer {
    font-family: 'Open Sans', sans-serif;
    padding: 25px;
}

.finfo {
    font-size: 18px;
    margin-bottom: 9px;
}


/* POST PAGES */

.psection {
    font-family: 'Open Sans', sans-serif;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.postTitle {
    font-family: 'Open Sans', sans-serif;
}

.socialshare {
    padding: 10px;
}

.socialshare > a {
    color: #000;
    text-decoration: none;
}

.socialshare .fa-twitter:hover {
    color: #55acee;
}

.socialshare .fa-facebook:hover {
    color: #3b5998;
}

.socialshare .fa-google-plus:hover {
    color: #dd4b39;
}

.socialshare .fa-whatsapp:hover {
    color: #4dc247;
}

.socialshare .fa-envelope:hover {
    color: #400191;
}

.newTitle a {
    color: #fff;
    text-decoration: none !important;
}

.newTitleSmall a {
    color: #fff;
    text-decoration: none !important;
}

article > div > div > i.fa:hover {
    cursor: pointer;
    color: #336799;
}

.date {
    font-family: 'Open Sans', sans-serif;
}

.postContent {
    /*font-family: 'Gentium Basic', serif;
  font-family: 'Open Sans', sans-serif¨*/
    padding-top: 20px;
    font-size: 15px;
}

.postContent p {
    text-rendering: optimizeLegibility;
    margin-top: 0px;
    margin-bottom: 20px;
}

.postContent img {
    max-width: 600px;
}

.addSize {
    height: 251px;
    width: 301px;
}

.suggestad-xs {
    margin-bottom: 20px;
}

.cita {
    font-size: 1.3em;
    line-height: 15px;
}

.postHead {
    margin-top: 5px;
}

.postTags {
    font-family: 'Open Sans', sans-serif;
}

.suggest {
    float: left;
    width: 320px;
    padding-right: 20px;
    padding-bottom: 20px;
    min-height: 300%;
}

.relatedContent {
    padding-top: 15px;
    min-height: 140px;
}

.relatedNews {
    padding-left: 10px;
    list-style: none;
}

.relatedTitle {
    font-family: 'Open Sans', sans-serif;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    color: #336799;
    border-bottom: 1px solid #d3cfca;
}

.relatedTitles {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d3cfca;
    font-size: 13px;
}

.relatedTitles > strong > a {
    font-size: 13px;
    color: #000;
    text-decoration: none;
}

.relatedTitles:hover > strong > a {
    cursor: pointer;
    color: #336799;
}


/* Clasificados */

.classified {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 30px;
    border-bottom: 1px solid #DDD;
}

.classified:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-bottom: 0px solid;
}

.item_cat_region_separator {
    width: 2px;
    height: 2px;
    background: #696969;
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px;
}

.classifiedTitle {
    font-family: 'Open Sans', sans-serif !important;
}

.classifiedDetail {
    color: #626262;
}

.classifiedDetailText {
    padding-top: 15px;
    font-family: 'Gentium Basic', serif;
}

.classifiedExt {
    padding-top: 30px;
}


/* Logos 

.desaturate { -webkit-filter: grayscale(100%); filter: grayscale(100%); margin-left: 10px; margin-bottom: 10px;}

.desaturate:hover { -webkit-filter: grayscale(0%); filter: grayscale(0%); }
*/

.copyright {
    margin-top: 10px;
    font-size: 10px;
}


/* Menu Clasificados */

.classifiedNav > li {
    list-style: none;
}

.panel-title > a >.fa {
    margin-right: 10px;
}

.panel-body {
    padding: 0px;
}

.panel-body table tr td {
    padding-left: 15px;
}

.panel-body .table {
    margin-bottom: 0px;
}

.classifiedNav {
    height: 100vh;
}

.classifiedcats {
    padding-top: 10px;
    list-style: none;
}


/* Main Clasificados */

.place {
    padding-top: 15px;
    padding-bottom: 15px;
}

.place:hover {
    cursor: pointer;
    color: #336799;
}

.cat {
    border: 1px solid #F0F0F0;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 25px;
}

.cat > .catTitle {
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #F0F0F0;
}

.cat > .catTitle:hover {
    font-size: 20px;
    background-color: #336799;
    color: #fff;
}

.cat > .catSubItmes {
    font-family: 'Gentium Basic', serif;
    font-size: 1em;
}

.cat > .catSubItmes > ul>li>a:hover {
    cursor: pointer;
    color: #336799;
}

.cat > .catSubItmes > ul>li >a {
    cursor: pointer;
    color: #333;
    text-decoration: none;
}

.catTitle.titles.text-center > .fa {
    margin-right: 10px;
}

.h2-seprator {
    height: 1px;
    width: 100px;
    background: #336799;
    margin: 0 auto;
    margin-bottom: 20px;
}


/* search */

.searchFrom {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    position: relative;
    -webkit-transition-property: width, height, -webkit-transform;
    transition-property: width, height, transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.morphsearch-input {
    width: 100%;
    height: 100%;
    padding: 0 10% 0 10px;
    font-weight: 700;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1;
    background: transparent;
    font-size: 40px;
    color: #336799;
    -webkit-transition: font-size 0.5s cubic-bezier(0.7, 0, 0.3, 1);
    transition: font-size 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.morphsearch-input::-ms-clear {
    /* remove cross in IE */
    display: none;
}

.morphsearch.hideInput .morphsearch-input {
    color: transparent;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.morphsearch.open .morphsearch-input {
    font-size: 7em;
}


/* placeholder */

.morphsearch-input::-webkit-input-placeholder {
    color: #c2c2c2;
}

.morphsearch-input:-moz-placeholder {
    color: #c2c2c2;
}

.morphsearch-input::-moz-placeholder {
    color: #c2c2c2;
}

.morphsearch-input:-ms-input-placeholder {
    color: #c2c2c2;
}


/* hide placeholder when active in Chrome */

.gn-search:focus::-webkit-input-placeholder {
    color: transparent;
}

input[type="search"] {
    /* reset normalize */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.morphsearch-input:focus,
.morphsearch-submit:focus {
    outline: none;
}

.morphsearch-submit {
    background: transparent url(/images/magnifier.png) no-repeat center center;
    background-size: 100%;
    border: none;
    pointer-events: none;
    transform-origin: 50% 50%;
    opacity: 0;
    -webkit-transform: translate3d(-30px, -50%, 0) scale3d(0, 0, 1);
    transform: translate3d(-30px, -50%, 0) scale3d(0, 0, 1);
}

.morphsearch.open .morphsearch-submit {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: translate3d(-30px, -50%, 0) scale3d(1, 1, 1);
    transform: translate3d(-30px, -50%, 0) scale3d(1, 1, 1);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.readsCount {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

.readsCountUpdate {
    color: white;
    background-color: rgba(0, 0, 0, 1);
}

.topTitle {
    color: #333;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.line-center {
    margin: 0;
    padding: 0 10px;
    background: #fff;
    display: inline-block;
}

.lineload >h2 {
    text-align: center;
    position: relative;
    z-index: 2;
    margin: 0px;
    height: 15px;
}

.lineload >h2:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: solid 3px #CCCCCC;
    z-index: -1;
}

.postContainer {}

.fotoleyenda {
    float: left;
    color: white;
    height: 50px;
    width: 100%;
    position: relative;
    left: 0px;
    top: -55px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    margin-bottom: -20px;
    padding: 5px;
}
