{{ partial "head.html" . }}

<body>
    {{ partial "header.html" . }}
    <div class="container">
        <div class="row hidden-xs">
            <div class="col-md-12 col-md-offset-2 adsLarge">
                <img class="img-responsive" src="{{ .Site.BaseURL }}/images/adsbanner.gif">
            </div>
        </div>
        <div class="row topshadow">
            <div class="col-md-8">
                <div class="row postLine">
                    <div class=" text-center col-xs-12 col-sm-12 col-lg-12 col-md-12">
                        <span style="font-size:150px;">404</span><br>
                        <span style="font-size:50px;">Pagina no encontrada</span>
                    </div>
                    
                </div>
            </div>
            <div id="sidebar" class="col-md-4 sidebar hidden-sm hidden-xs">
                {{ partial "sidebar.html" . }}
            </div>
        </div>
        <div class="container">
            {{ partial "footer.html" . }} {{ partial "search.html" . }}
        </div>
        <script src="{{ .Site.BaseURL }}/scripts/sugar-1.4.1.js"></script>
        <script src="{{ .Site.BaseURL }}/scripts/modernizr.js"></script>
        <script src="{{ .Site.BaseURL }}/scripts/jquery-2.1.4.min.js"></script>
        <script src="{{ .Site.BaseURL }}/scripts/jquery.bxslider.min.js"></script>
        <script src="{{ .Site.BaseURL }}/scripts/jquery.onscreen.min.js"></script>
        <script src="{{ .Site.BaseURL }}/scripts/bootstrap.min.js"></script>
        <script src="{{ .Site.BaseURL }}/scripts/bootstrap-hover-dropdown.min.js"></script>
        <script src="{{ .Site.BaseURL }}/scripts/response.min.js"></script>
        <script src="{{ .Site.BaseURL }}/scripts/main.js"></script>
</body>

</html>
