{{ partial "head.html" . }}

<body>
    {{ partial "header.html" . }}
    <div class="container">
        {{ partial "slider.html" . }}
    </div>
    <div class="container">
        <div class="row hidden-xs">
        </div>
        <div class="row topshadow">
            <div class="col-md-8">
                <div class="adsLarge" style="display:none;max-width: 728px;">
                    <img class="img-responsive" src="images/banner2.jpg">
                </div>
                {{ partial "mobileTop.html" . }}
                <div class="row postLine">
                    {{ range first 31 (where .Data.Pages "Params.portada" "yes") }}
                    <div class="col-sm-6 col-md-6">
                        <div class="post">
                            <div class="hidden-xs">
                                <div class="post-img-content hidden-xs">
                                    <a href="{{ .Permalink }}"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-lazy="{{ .Site.BaseURL }}/fotoedicion/thumb_{{.Params.featured}}" class="img-responsive postimgl center-block" /></a>
                                    <span class="post-category {{.Params.css}}">
                                        <b>{{.Params.category}}</b>
                                    </span>
                                </div>
                                <div class="content ">
                                    <div class="postHead">
                                        <div class="row hidden-xs">
                                            <div class="col-md-6">
                                                <time datetime="{{.Date}}">{{.Params.published}}</time>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="socialshareMain text-right">
                                                    <a data-network="twitter" class="socialMedia" onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0');   return false;" href="http://twitter.com/share?url={{ .Permalink }}&amp;text={{ .Title }}"><i class="fa fa-twitter fa-lg  "></i>&nbsp;&nbsp;</a>
                                                    <a data-network="facebook" class="socialMedia" onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" href="http://www.facebook.com/sharer.php?u={{ .Permalink }}"><i class="fa fa-facebook fa-lg "></i>&nbsp;&nbsp;</a>                                                   
                                                    <a data-network="email" class="socialMedia" href="mailto:?Subject={{ .Title }}&amp;Body={{ .Permalink }}"><i class="fa fa-envelope fa-lg "></i>&nbsp;&nbsp;</a>
                                                    <a data-network="whatsapp" class="socialMedia" href="whatsapp://send?text={{ .Title }} {{ .Permalink }}"><i class="fa fa-whatsapp fa-lg hidden-sm hidden-md hidden-lg "></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                                        <p>{{.Params.excerpt}} </p>
                                    </div>
                                </div>
                            </div>
                            <div class="media hidden-sm hidden-md hidden-lg" style="padding-top: 0px;padding-bottom:10px;margin-top: 10px;">
                                <div class="media-left media-middle">
                                    <a href="{{ .Permalink }}">
                                        <img class="media-object" src="{{ .Site.BaseURL }}/fotoedicion/thumb_{{.Params.featured}}" style="width: 90px; height: 90px;" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <span class="mobileCat hidden-sm hidden-md hidden-lg {{.Params.css}}">
                                        <b>{{.Params.category}}</b>
                                    </span>
                                    <h4 style="font-size:14px" class="media-heading"><a style="text-decoration: none; color:black;" href="{{ .Permalink }}">{{ .Title }}</a></h4>
                                    <div class="row">
                                        <div class="col-xs-5 hidden-sm hidden-md hidden-lg">
                                            <time datetime="{{.Date}}" style="font-size:10px"> {{ .Params.mobiledate }}</time>
                                        </div>
                                        <div class="col-xs-7 hidden-sm hidden-md hidden-lg">

                                            <div class="socialshareMain text-right">
                                                <a data-network="twitter" class="socialMedia" onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0');   return false;" href="http://twitter.com/share?url={{ .Permalink }}&amp;text={{ .Title }}"><i class="fa fa-twitter fa-lg  "></i>&nbsp;&nbsp;</a>
                                                <a data-network="facebook" class="socialMedia" onclick="window.open(this.href, 'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" href="http://www.facebook.com/sharer.php?u={{ .Permalink }}"><i class="fa fa-facebook fa-lg "></i>&nbsp;&nbsp;</a>
                                                
                                                <a data-network="whatsapp" class="socialMedia" href="whatsapp://send?text={{ .Title }} {{ .Permalink }}"><i class="fa fa-whatsapp fa-lg hidden-sm hidden-md hidden-lg "></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                    <div class=" col-xs-12 col-sm-12 col-lg-12 col-md-12">
                        <a href="/obituarios/"><img class="img-responsive" src="{{ .Site.BaseURL }}/images/obituario.jpg"></a>
                    </div>
                </div>
            </div>
            <div id="sidebar" class="col-md-4 sidebar hidden-sm hidden-xs">
                {{ partial "sidebar.html" . }}
            </div>
        </div>
        <div class="container">
            {{ partial "footer.html" . }}
        </div>
        {{ partial "search.html" . }} {{ partial "welcome.html" . }}
        <script src="/templates/top.tag" type="riot/tag"></script>
        <script src="/templates/slider.tag" type="riot/tag"></script>
        <script src="/templates/search.tag" type="riot/tag"></script>
        <script src="{{ .Site.BaseURL }}/scripts/sugar-1.4.1.js"></script>
        <script src="{{ .Site.BaseURL }}/scripts/modernizr.js"></script>
        <script src="{{ .Site.BaseURL }}/scripts/riot+compiler.min.js"></script>
        <script src="{{ .Site.BaseURL }}/scripts/jquery-2.1.4.min.js"></script>
        <script src="{{ .Site.BaseURL }}/scripts/jquery.bxslider.min.js"></script>
        <script src="{{ .Site.BaseURL }}/scripts/jquery.onscreen.min.js"></script>
        <script src="{{ .Site.BaseURL }}/scripts/jquery.sidr.min.js"></script>
        <script src="{{ .Site.BaseURL }}/scripts/jquery.touchSwipe.min.js"></script>
        <script src="{{ .Site.BaseURL }}/scripts/bootstrap.min.js"></script>
        <script src="{{ .Site.BaseURL }}/scripts/bootstrap-hover-dropdown.min.js"></script>
        <script src="{{ .Site.BaseURL }}/scripts/response.min.js"></script>
        <script src="{{ .Site.BaseURL }}/scripts/main.js?v1"></script>
        {{ partial "mobileMenu.html" . }}
</body>

</html>
