<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61679308-3', 'auto');
  ga('send', 'pageview');

</script>
<!--  -->
<script>
    ChatraID = 'dALSnnn7wBtFrvDyN';
    (function(d, w, c) {
        var n = d.getElementsByTagName('script')[0],
            s = d.createElement('script');
        w[c] = w[c] || function() {
            (w[c].q = w[c].q || []).push(arguments);
        };
        s.async = true;
        s.src = (d.location.protocol === 'https:' ? 'https:': 'http:')
            + '//chat.chatra.io/chatra.js';
        n.parentNode.insertBefore(s, n);
    })(document, window, 'Chatra');
</script>



<footer>
    <div class="row">
        <div class="col-md-8  finfo text-center">
            <hr> Quiénes somos | Contacto | Publicidad
        </div>
        <div class="col-md-8 text-center logoss">
            <img src="{{ .Site.BaseURL }}/images/parawebs.png" height="22px" class="desaturate">
            <img src="{{ .Site.BaseURL }}/images/logo-com-ve.png" height="25px" class="desaturate">
        </div>
        <div class="col-md-8 text-center copyright">Copyright © 1968 Editorial Torbes C.A</div>
    </div>
</footer>
