<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {{ .Title }} &middot; {{ .Site.Title }} </title>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/styles/vendor.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/styles/main.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/styles/jquery.sidr.light.css">
</head>  