<div id="fb-root"></div>
<!--[if lt IE 10]>
            <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif' rel='stylesheet' type='text/css'>
            <p class="browserupgrade">You are using an
                <strong>outdated</strong>browser. Please
                <a href="http://browsehappy.com/">upgrade your browser</a>to improve your experience.</p>
        <![endif]-->
<header class="masthead azul hidden-xs ">
    <div class="container ">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-sm-offset-3 col-md-offset-3">
                <a href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}/images/logo-com-ve.png"></a>
            </div>
            <div class="col-md-3 col-sm-3 col-sm-offset-3 col-md-offset-1">
                <form action="" class="search-form">
                    <div class="form-group has-feedback">
                        <label for="search" class="sr-only">Buscar</label>
                        <input type="text" class="form-control" name="search" id="search" placeholder="Buscar">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
<div class="headerhr"></div>
<!-- Begin Navbar -->
<div id="nav">
    <div class="navbar navbar-default navbar-static-top azul">
        <div class="container center-block">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a id="simple-menu"  class="navbar-toggle collapsed" href="#sidr">

                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="navbar-brand" href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}/images/logo-com-ve.png" height="25px"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="mainnav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="homeLine">
                        <a href="{{ .Site.BaseURL }}">Inicio</a>
                    </li>
                    <li class="politicaLine hidden-sm">
                        <a href="{{ .Site.BaseURL }}/politica">Política</a>
                    </li>
                    <li class="regionalLine">
                        <a href="{{ .Site.BaseURL }}/regional">Regional</a>
                    </li>
                    <li class="infogenLine hidden-sm hidden-md">
                        <a href="{{ .Site.BaseURL }}/infogeneral">InfoGeneral</a>
                    </li>
                    <li class="nacionalLine">
                        <a href="{{ .Site.BaseURL }}/nacional">Nacional</a>
                    </li>
                    <li class="internacionalLine">
                        <a href="{{ .Site.BaseURL }}/internacional">Internacional</a>
                    </li>
                    <li class="opinionLine hidden-sm">
                        <a href="{{ .Site.BaseURL }}/opinion">Opinión</a>
                    </li>
                    <li class="deportesLine">
                        <a href="http://www.lanaciondeportes.com/">Deportes</a>
                    </li>
                    <li class="sucesosLine">
                        <a href="{{ .Site.BaseURL }}/sucesos">Sucesos</a>
                    </li>
                    <li class="dropdown masLine">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown-menu"  role="button" aria-expanded="false">+ Sec <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{{ .Site.BaseURL }}/agenda">Agenda</a>
                            </li>
                            <li>
                                <a href="{{ .Site.BaseURL }}/buzon-libre">Buzón Libre</a>
                            </li>
                            <li>
                                <a href="{{ .Site.BaseURL }}/cosas-del-mundo">Cosas del Mundo</a>
                            </li>
                            <li>
                                <a href="{{ .Site.BaseURL }}/cultura">Cultura</a>
                            </li>
                            <li>
                                <a href="{{ .Site.BaseURL }}/farandula-y-espectaculos">Farándula y Espectáculos</a>
                            </li>
                            <li>
                                <a href="{{ .Site.BaseURL }}/flash">Flash</a>
                            </li>
                            <li>
                                <a href="{{ .Site.BaseURL }}/noche-de-ronda">Noche de Ronda</a>
                            </li>
                            <li>
                                <a href="{{ .Site.BaseURL }}/reportajes-y-especiales">Reportajes y Especiales</a>
                            </li>
                            <li>
                                <a href="{{ .Site.BaseURL }}/salud">Salud</a>
                            </li>
                            <li>
                                <a href="{{ .Site.BaseURL }}/tecnologia">Tecnología</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.navbar -->
</div>
