<div class="socialshareMain">
    <div class="side-title" style="color:black;">
        <span style="font-size:24px">Síguenos en</span> <img src="/images/share.png" style="width: 40px;" alt="">
    </div>
    <div style="margin-left:45%;">
        <a style="color:#333333;" target="_blank" href="/index.xml"><i class="fa fa-rss fa-3" style="font-size:34px; padding-left:10px;"></i></a>
        <a style="color:#333333;" target="_blank"  href="https://twitter.com/lanacionweb"><i class="fa fa-twitter fa-3" style="font-size:34px; padding-left:10px;"></i></a>
        <a style="color:#333333;" target="_blank" href="https://www.facebook.com/lanaciondiario"><i class="fa fa-facebook fa-3" style="font-size:34px; padding-left:15px;"></i></a>
        <i class="fa fa-instagram" style="font-size:34px; padding-left:15px;"></i>
    </div>
</div>
<div class="adsside text-center addSize side2501" style="margin-bottom: 6px;margin-left: 16px;">
</div>
<div class="twitter  ">
    <div class="side-title azul">
        <i class="fa fa-twitter"></i>&nbsp;&nbsp; Twitter</div>
    <div id="tweets"></div>
    <div id="follow">
        <a href="https://twitter.com/lanacionweb" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large" data-dnt="true">Seguir a @lanacionweb</a>
    </div>
    <script>
    </script>
</div>
<div class="adsside text-center">
    <div class="side-title azul">&nbsp;&nbsp;</div>
    <div class="adslot addSize side2502" style="margin-left: 16px;">
    </div>
</div>
<div id="facebook">
    <div class="side-title azul">
        <i class="fa fa-facebook"></i>&nbsp;&nbsp; Facebook</div>
    <div class="fbbox">
        <div class="fb-page" data-href="https://www.facebook.com/lanaciondiario" data-hide-cover="false" data-show-facepile="true" data-show-posts="false">
            <div class="fb-xfbml-parse-ignore">
                <blockquote cite="https://www.facebook.com/lanaciondiario">
                    <a href="https://www.facebook.com/lanaciondiario">Diario La Nacion</a>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<div id="portada">
    <div class="side-title azul">
        <i class="fa fa-newspaper-o"></i>&nbsp;&nbsp; Impreso</div>
    <div class="portadaln">
        <img src="{{ .Site.BaseURL }}/images/primera.jpg">
    </div>
</div>
<div id="plate">
    <div class="side-title azul">
        <i class="fa fa-car"></i>&nbsp;&nbsp; Pico y Placa</div>
    <div class="plateinfo" style="height: 426px; width: 333px;">
    </div>
</div>
<div class="adsside lastad text-center ">
    <div class="side-title azul">&nbsp;&nbsp;</div>
    <div id="adafix" class="adslot lastadv side2503">
    </div>
</div>
</div>
