<div class="adsside text-center addSize side2501" style="margin-bottom: 6px;margin-left: 16px;">
  
</div>

<div class="adsside text-center">
    <div class="side-title azul">&nbsp;&nbsp;+Leidas</div>
     <top>
            <div class="media" style="color:#336799; margin-top:20px">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/images/load.gif" style="width: 74px; height: 64px;">
                    </a>
                </div>
                <div class="media-body">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-8 readsCount">+</div>
                    </div>
                    <a href="" style="text-decoration:none;">
                        <p style='color:#333;font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300;'>
                            <div class="lineload">
                                <h2><span  class="line-center"></span></h2>
                                <h2><span  class="line-center"></span></h2>
                            </div>
                        </p>
                    </a>
                </div>
            </div>
            <div class="media" style="color:#336799; margin-top:20px">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/images/load.gif" style="width: 74px; height: 64px;">
                    </a>
                </div>
                <div class="media-body">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-8 readsCount">+</div>
                    </div>
                    <a href="" style="text-decoration:none;">
                        <p style='color:#333;font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300;'>
                            <div class="lineload">
                                <h2><span  class="line-center"></span></h2>
                                <h2><span  class="line-center"></span></h2>
                            </div>
                        </p>
                    </a>
                </div>
            </div>
            <div class="media" style="color:#336799; margin-top:20px">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/images/load.gif" style="width: 74px; height: 64px;">
                    </a>
                </div>
                <div class="media-body">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-8 readsCount">+</div>
                    </div>
                    <a href="" style="text-decoration:none;">
                        <p style='color:#333;font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300;'>
                            <div class="lineload">
                                <h2><span  class="line-center"></span></h2>
                                <h2><span  class="line-center"></span></h2>
                            </div>
                        </p>
                    </a>
                </div>
            </div>
            <div class="media" style="color:#336799; margin-top:20px">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="/images/load.gif" style="width: 74px; height: 64px;">
                    </a>
                </div>
                <div class="media-body">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-8 readsCount">+</div>
                    </div>
                    <a href="" style="text-decoration:none;">
                        <p style='color:#333;font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300;'>
                            <div class="lineload">
                                <h2><span  class="line-center"></span></h2>
                                <h2><span  class="line-center"></span></h2>
                            </div>
                        </p>
                    </a>
                </div>
            </div>
        </top>
</div>
<div class="adsside text-center">
    <div class="side-title azul">&nbsp;&nbsp;</div>
    <div class="adslot addSize side2502" style="margin-left: 16px;">
       
    </div>
</div>
<div class="adsside lastad text-center ">
    <div class="side-title azul">&nbsp;&nbsp;</div>
    <div id="adafix" class="adslot lastadv side2503">
    
    </div>
</div>
</div>
