<div class="media" style="color:#336799; margin-top:20px">
    <div class="media-left">
        <a href="#">
            <img class="media-object" src="fotoedicion/thumb_75e30942157b627dc4caf97d9974b3cd.jpg" style="width: 74px; height: 64px;">
        </a>
    </div>
    <div class="media-body">
        <div class="row">
            <div class="col-md-3 col-md-offset-8" style="color:white;background-color:rgba(0,0,0,0.7);">+234</div>
        </div>
        <p style='color:#333;font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300;'></p>
    </div>
</div>
