<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="max-width: 448px;">
            <i id="welcomeClose" style="margin-left: 6px;" class="fa fa-times"></i>
            <div class="modal-body">
                <img class="img-responsive" src="/welcome.jpg" alt="">
            </div>
        </div>
    </div>
</div>
